.dashboard-page {
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .dossier-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    p {
      margin: 8px 0;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      background-color: #fff;
      margin-bottom: 10px;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
  }
}
