.container-homepage{
    display: flex;
    align-items: center;
    width: 100%;
    .text-crm{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        
    }
}