.messages-page {
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      background-color: #fff;
      margin-bottom: 10px;
      padding: 10px 15px;
      border-radius: 8px;
      box-shadow: 0 0 3px rgba(0,0,0,0.1);

      strong {
        margin-right: 10px;
      }
    }
  }
}
