.properties-page {
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    input {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    button {
      padding: 10px;
      border: none;
      background-color: #00bfff;
      color: #fff;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: #009acc;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      background-color: #fff;
      margin-bottom: 10px;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
  }
}
