.Navbar-container{
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  padding: 12px 17px;
  border-bottom: 1px solid gray;
  .menu-coantainer{
    .menulist{
      display: flex;
      gap: 10px;
      list-style-type: none;
      align-items: center;
    }
  }
  .btn-start{
    display: flex;
    align-items: center;
    gap: 10px;
    button{
     width: 80px;
     height: 30px;
    }
    .humberger{
      display: none;
      align-items: center;
       font-size: 30px;
      cursor: pointer;
    }
  }

 @media (max-width:768px) {
   .menu-coantainer{
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
     display: none;
     background: white;
      box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
      padding: 15px;
      
      opacity: 0;
      transform: translateY(-20px);
      transition: opacity 0.3s ease, transform 0.3s ease;

      .menulist {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
      }
   }
    .menu-coantainer.open {
     display: flex;
       opacity: 1;
      transform: translateY(0);
    }
   .btn-start{
    .humberger{
      display: flex;
    }
   }
 } 

}